.btn {
  padding: 10px;
  color: #fff !important;
  border: none !important;
}

.btn-main {
  border-radius: 0 !important;
  background: linear-gradient(180deg, #17507F -27.78%, rgba(23, 80, 127, 0) 222.22%);
  background-color: inherit !important;
  font-weight: 700 !important;
  border: none;
  cursor: pointer;
}

.login-btn{
  min-width: 129px;
  height: 54px;
  background-color: #FD6A00 !important;
  text-transform: uppercase;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.register-btn{
  min-width: 129px;
  height: 54px;
  border: 1px solid #FD6A00 !important;
  color: #FD6A00 !important;
  text-transform: uppercase;
}