body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
html {
	font-size: 14px;
}
#container{ 
	min-height: 100vh;
}
html {
	font-size: 14px;
}
#root{
	color: #fff;
	background-color: #060606;
}
.content {
	width: 70%;
	font-family: Helvetica Neue;
}
.content-full {
	width: 100% !important;
}
.side-bar{
  width: 30%;
	margin: 0 20px;
	*{
		font-family: UTM Avo;
	}
}
#main{
	padding: 0 120px !important;
  @media screen and (max-width: 1300px){
    padding: 0 10px !important;
	}
	margin: 20px 0;
}

.label-status-full{
	padding: 0.2rem;
	max-width: 30px;
	margin-right: 2px !important;
	font-weight: bold;
	text-align: center;
	font-size: 9px;
	background-color: #0382AA;
	color: #fff;
}
.label-status-new{
	padding: 0.2rem;
	font-weight: bold;
	text-align: center;
	font-size: 9px;
	background-color: #128D08;
	color: #fff;
}
.label-status-updating{
	margin-right: 2px !important;
	padding: 0.2rem;
	font-weight: bold;
	text-align: center;
	font-size: 9px;
	background-color: #FD6A00;
	color: #fff;
}
.icon-btn{
	margin-right: 5px;
	cursor: pointer;
	font-family: "Font Awesome 5 Free" !important;
}

.light{
	background-color: #fff !important;
	.categories-list{
		.list-group{
			width: 20%;
			border-radius: 0 !important;
			z-index: 2;
			.list-group-item{
				background-color: rgba(23, 80, 127, 1) !important;
				border: 1px solid #C4C4C4;
				&:before{
					content: "•";
					color: #3F6788;
					margin-right: 5px;
				}
			}
		}
	}
	.side-bar{
		.card-body{
			background-color: #EAEAEA !important;
			color: #000;
		}
	}
	.Update{
		.nav-link{
			color: #000 !important;
		}
		.update-title{
			color: #fff !important;
		}
		th{
			background-color: rgba(70, 118, 158, 1);
		}
		td{
			background-color: #EAEAEA !important;
			color: #000;
		}
	}
	.Footer{
		background-color: #17507F !important;
		.list-group-item{
			background-color: #17507F !important;
		}
	}
	.LoveStory{
		.card-header{
			background-color: #17507F !important;
			background: linear-gradient(180deg, #164367 0%, #163D5D 294.29%);
		}
		.card-body{
			background-color: rgba(234, 234, 234, 1);
		}
		.list-group-item{
			background-color: #fff !important;
			color: #000;
		}
		.page-item{
			.page-link{
				color: #000 !important;
			}
		}
		.active{
			.page-link{
				color: #fff !important;
			}
		}
	}
}