.Footer {
  background: #1C1C1C !important;
  padding: 20px 120px !important;
  @media screen and (max-width: 1300px){
    padding: 20px 10px !important;
  }
  .content-footer {
    width: 70%;
  };
  .side-bar-footer {
    width: 30%;
  };
  .list-group-item{
    border: none;
    background: #1C1C1C !important;
    &:before{
      content: "•";
      color: rgba(23, 80, 127, 1);
      margin-right: 5px;
    }
  }
  .icon {
    margin-right: 5px;
  }
}