$primary-color: #143E60;
$border-color: #346893;
$main-color: #17507F;
.navbar {
  height: 86px;
  padding: 0 120px !important;
  background: linear-gradient(180deg, #17507F 0%, rgba(23, 80, 127, 0) 273.26%);
  position: relative;
	select { 
    border-radius: 0;
  };
  .form-control {
    border-radius: 0 !important;
  };
  .has-search {
    .form-control {
      padding-left: 2.375rem;
    };
    .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: #aaa;
    };
  }
  .custom-select-nav {
    height: 44px;
    background-color: $primary-color;
    color: rgba(226, 226, 226, 1);
    border: 1px solid $border-color;
    border-style: none solid none none;
    padding: 10px 20px;
  }
  .form-control {
    border-color: $border-color;
    border-style: none solid none none;
    height: 44px;
    background-color: $primary-color;
    color: rgba(226, 226, 226, 1);
    padding: 10px 20px;
    &:focus {
      background-color: $primary-color;
      color: rgba(226, 226, 226, 1);
    }
  }
  .input-group {
    max-width: 700px;
    border: 1px solid $border-color;
    background-color: $primary-color;
  }

  .notification {
    position: relative;
    background-color: #143E60;
    background-color: linear-gradient(179.28deg, #17507F 0.62%, rgba(23, 80, 127, 0) 240.13%);
    border: 1px solid $border-color;
  }
  .notification:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #346893;
  }
  .btn-warning {
    margin-left: 10px;
    background-color: #FF6B00;
    border: 1px solid #346893;
    &:hover {
      background-color: #BD4F00;
    }
  }
  .btn-search{
    background: linear-gradient(179.28deg, #17507F 0.62%, rgba(23, 80, 127, 0) 240.13%) ;
  }
  .recommend-paper{
    z-index: 2;
    padding: 0;
    position: absolute;
    top: 65px;
    width: 100%;
    .list-group-item{
      color: #fff;
      background-color: $main-color;
    }
  }
  .breadcrumb{
    padding: 0;
    background-color: inherit;
    margin-bottom: 0;
  }
  .label-status {
    &__updating {
      background-color: #FF6B00;
      padding: 0 5px;
      margin: 2px;
    }
    &__new {
      background-color: #128D08;
      padding: 0 5px;
      margin: 2px;
    }
  }
}
