.ReadStory{
  font-family: Helvetica Neue;;
  .body-story{
    margin: 0 120px;
    background-color: #1C1C1C;
    display: flex;
    .icon-btn-back{
      padding: 1.25rem;
      cursor: pointer;
    }
  }
  .footer-setting-story{
    padding: 10px 120px;
    max-width: unset;
    background-color: #17507F;
    .media-body{
      margin: auto 10px;
      max-width: 250px;
    }
    .btn-form-search-wrapper{
      position: relative;
      margin: auto;
      text-align: center;
      .next-btn{
        margin-left: 50px;
        cursor: pointer;
      }
      .prev-btn{
        cursor: pointer;
        margin-right: 50px;
      }
    }
  }
  .card {
    background-color: inherit;
    border: none;
    width: 100%;
    .card-title{
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 30px;
    }
    .card-body{
      min-height: 100vh;
      font-size: 17px;
    }
  }
  .btn-setting-wrapper{
    text-align: right;
    margin: auto;
    position: relative;
    .list-group{
      background-color: inherit;
      text-align: left;
      overflow: auto;
      position: absolute;
      bottom: 65px;
      right: 15px;
      max-height: 325px;
      right: 0;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background: #0C395D;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(41, 105, 157, 1);
      }
      .list-group-item{
        cursor: pointer;
        text-transform: capitalize;
        background-color: rgba(41, 105, 157, 1);
        &:hover{
          background-color: #0069d9;
        }
      }
    }
  }
  .btn-setting-footer{
    background-color: #0C395E;
    border-radius: 20px;
    padding: 10px 20px;
    .text-btn-form{
      margin-left: 20px;
    }
  }
  .form-search-chapter{
    background-color: #0C395D;
    width: 100%;
    bottom: 65px;
    position: absolute;
    i {
      cursor: pointer;
    }
    &__header{
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 20px;
    }
    &__search-box{
      padding: 10px 20px;
      position: relative;
      input{
        height: 40px;
        width: 100%;
      }
      i{
        position: absolute;
        font-size: 20px;
        color: black;
        top: 20px;
        right: 25px;
        cursor: pointer;
      }
    }
    .list-group{
      background-color: inherit;
      text-align: left;
      overflow: auto;
      max-height: 325px;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background: #0C395D;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(41, 105, 157, 1);
      }
      .list-group-item{
        cursor: pointer;
        text-transform: capitalize;
        background-color: rgba(41, 105, 157, 1);
        &:hover{
          background-color: #0069d9;
        }
      }
    }
  }
  
  .pop-share{
    position: absolute !important;
    width: 270px !important;
    bottom: 95px !important;
    right: 214px !important;
  }
  .pop-size{
    position: absolute;
    width: 270px;
    bottom: 95px;
    right: 214px;
    background-color:  rgba(41, 105, 157, 1);
    padding: 10px;
    button {
      background-color: rgba(68, 130, 182, 1);
      width: 30%;
    }
    .small-font{
      font-size: 16px;
    }
    .normal-font{
      font-weight: 700;
      font-size: 20px;
    }
    .large-font{
      font-size: 22px;
      font-weight: 900;
    }
  }
  .pop-color {
    background-color: rgba(41, 105, 157, 1);
    position: absolute;
    width: 270px;
    bottom: 95px;
    right: 214px;
    padding: 10px;
    .circle-color{
      position: relative;
      cursor: pointer;
      height: 40px;
      width: 40px;
      border-radius: 25px;
      .fa-check{
        position: absolute;
        top: 10px;
        color: black;
        font-size: 20px;
        left: 10px;
      }
    }
  }
  .color-1{
    background-color: #F5E4E4;
    color: black;
  }
  .color-2{
    background-color: #F5EBCD;
    color: black;
  }
  .color-3{
    color: black;
    background-color: #E3EEE2;
  }
  .color-4{
    color: black;
    background-color: #E1E8E8;
  }
  .color-5{
    color: black;
    background-color: #EAE4D3;
  }
  .color-6{
    color: black;
    background-color: #E5E3DF;
  }
  .color-7{
    background-color: #1C1C1C;
    i {
      color: white !important;
    }
  }
  .color-8{
    color: black;
    background-color: #FFFFFF;
  }
}